@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  img {
    width: auto;
    height: auto;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-style: normal;
  @apply text-neutral-700 scroll-smooth;
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}

.scrollbarCustom::-webkit-scrollbar {
  width: 10px;
  @apply bg-slate-100;
}
